.ajout-avion {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4rem;
    align-items: center;
  justify-content: center;
  font-weight: 80;
  color: dodgerblue;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
  margin: 0;
  margin-bottom: 20px;
}